#container {
    width: 512px;
    height: 512px;
    border: dotted 1px red;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: solid 1px black;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}

button {
    margin: 15px;
    width: auto;
    height: auto;
    font-size: large;
}